/* agenda section starts here */

.agendaSection {
	padding: 88px 0px;
}

.agendaContainer {
	max-width: 830px !important;
	width: 100%;
	margin: 0 auto;
}

.agendaContainer .heading {
	text-align: center;
	margin-bottom: 40px;
}

.agendaContainer h1 {
	margin: 0px 0px 32px;
}

.agendaContainer .heading p {
	max-width: 532px;
	width: 100%;
	margin: 0 auto;
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	color: #111111;
}

.agendaContainer .nav-tabs {
	border: none !important;
	justify-content: center;
}

.agendaContainer .nav-tabs .nav-item .nav-link {
	border: none !important;
	width: 168px;
	height: 80px;
	background: #ffffff;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.18);
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: "Noto Sans", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	color: #111111;
	margin: 0px 8px;
}

.agendaContainer .nav-tabs .nav-item .nav-link span {
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	color: #111111;
}

.agendaContainer .nav-tabs .nav-item .nav-link.active {
	border: none !important;
	background: linear-gradient(270deg, #109810 0%, #3883f6 100%);
	box-shadow: unset !important;
	border-radius: 5px;
	color: #ffffff;
}

.agendaContainer .nav-tabs .nav-item .nav-link.active span {
	color: #ffffff;
}

.agendaContainer .tab-content {
	margin-top: 32px;
}

.agendaCards .card {
	background: #ffffff;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.18);
	border: none;
	border-left: 8px solid #109810;
	border-radius: 5px;
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;
	padding: 15px 0px;
	margin-bottom: 24px;
}

.agendaCards .card.breakCard {
	border-left: none !important;
	padding: 24px 0px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.agendaCards .card.breakCard h4 {
	font-family: "Noto Sans", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 48px;
	letter-spacing: 0.03em;
	color: #111111;
	margin: 0;
}

.agendaCards .card .agendaTimings {
	padding: 0px 40px 0px 24px;
	border-right: 1px solid #767676;
}

.agendaCards .card .agendaTimings h4 {
	font-family: "Noto Sans", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 28px;
	line-height: 48px;
	color: #111111;
	margin: 0;
	white-space: nowrap;
}

.agendaCards .card .agendaDetails {
	padding: 0px 40px;
	display: flex;
	align-items: center;
}

.agendaCards .card .agendaDetails img {
	width: 82px;
	height: 82px;
	margin-right: 13px;
}

.agendaCards .card .agendaDetails h6 {
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	color: #111111;
	margin: 0px 0px 8px;
}

.agendaCards .card .agendaDetails p {
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	color: #111111;
	margin: 0;
}

@media screen and (max-width: 576px) {
	.agendaCards {
		width: fit-content;
	}

	.agendaCards .card .agendaDetails {
		padding: 0px;
		flex-direction: column;
		align-items: start;
		gap: 6px;
	}

	.agendaCards .card .agendaTimings {
		border-right: 0px;
		padding: 0px 15px 0px 15px;
	}

	.agendaCards .card .agendaTimings h4 {
		font-size: 18px;
	}
}

/* agenda section ends here */
