.md-about-heading {
	font-family: "Noto Sans", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	color: #111111;
}

.md-become-speaker-heading {
	color: #ffffff !important;
	text-align: center;
	margin-bottom: 24px;
	font-family: "Noto Sans", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
}
