* {
	font-family: "Raleway", sans-serif;
}

.proofHeroSecion {
	background: #000000;
}

/* navbar starts here */

.proofHeroSecion .navbar {
	max-width: 1272px;
	width: 100%;
	margin: 0 auto;
	background: transparent;
	padding: 35px 10px !important;
}

.proofNav .nav-link {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	color: #ffffff !important;
	padding: 0px 0px 4px !important;
	margin-right: 48px;
}

.proofNav .nav-link.active {
	color: #ffffff !important;
	border-bottom: 4px solid #0085fe;
}

.proofNav .nav-link:hover {
	color: #ffffff !important;
	border-bottom: 4px solid #0085fe;
}

.proofNav .getTicketsBtn {
	width: 142px;
	height: 48px;
	background: #0085fe;
	border: 1px solid transparent;
	font-style: normal;
	font-weight: 800;
	font-size: 14px;
	letter-spacing: 0.05em;
	color: #ffffff;
	cursor: pointer;
	transition: 0.3s;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

.proofNav .getTicketsBtn:hover {
	border: 1px solid #0085fe;
	background: transparent;
	color: #0085fe;
}

.proofNav .navbar-toggler {
	height: 48px;
	background: #ffffff;
	margin-right: 20px;
	border-radius: unset !important;
}

.global-count-down {
	color: white;
	background-color: #ff7a10;
	padding: 10px;
	text-align: center;
}

/* navbar ends here */

.proofMainContainer {
	max-width: 1272px;
	width: 100%;
	margin: 0 auto;
	padding-left: 20px !important;
	padding-right: 20px !important;
}

/* hero section starts here */

.proofOfWorkMainContainer {
	padding: 17px 0px 30px;
}

.proofOfWorkContainer img {
	width: 100%;
	height: auto;
}

.proofHeroCards {
	padding-bottom: 65px;
}
.proofHeroCards .proofHeroHead {
	text-align: center;
	margin-bottom: 40px !important;
	max-width: 914px;
	margin: 0 auto;
}
.proofHeroCards .proofHeroHead h2 {
	font-style: normal;
	font-weight: 500;
	font-size: 36px;
	letter-spacing: 0.05em;
	color: #ffffff;
	margin-bottom: 13px;
}
.proofHeroCards .proofHeroHead p {
	font-style: normal;
	font-weight: 500;
	font-size: 25px;
	line-height: 36px;
	letter-spacing: 0.05em;
	color: #ffffff;
	margin: 0;
}
.proofHeroCards .getTicketsBtn {
	display: block;
	max-width: 376px;
	width: 100%;
	height: 113px;
	margin: 108px auto 0px;
	background: #00d55a;
	border: 1px solid transparent;
	font-style: normal;
	font-weight: 600;
	font-size: 30px;
	text-align: center;
	letter-spacing: 0.05em;
	line-height: 30px;
	color: #ffffff;
	cursor: pointer;
	transition: 0.3s;
}

.proofHeroCards .getTicketsBtn:hover {
	border: 1px solid #00d55a;
	background: transparent;
	color: #00d55a;
}

.heroCard .heroCardImg img {
	width: 100%;
}

.proofHeroCards .heroCard .heroCardContent {
	padding: 40px 0 0;
}

.heroCard .heroCardContent h3 {
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	line-height: 30px;
	text-align: center;
	letter-spacing: 0.05em;
	color: #ffffff;
}
.heroCard .heroCardContent h3 span {
	display: block;
}
.heroCard .heroCardContent p {
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 32px;
	text-align: center;
	color: #e6e6e6;
	margin: 0;
}

/* hero section ends here */

/* media partners section starts here */

.mediaPartnersSection {
	background: #ff7a10;
	padding: 85px;
}

.mediaPartnersContainer {
	padding: 50px 0px 20px 0px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	gap: 40px;
}

.mediaPartnersSection img {
	width: 300px;
	height: auto;
	object-fit: contain;
	display: flex;
}

.mediaPartnersSection h1 {
	font-style: normal;
	font-weight: 700;
	font-size: 60px;
	text-align: center;
	letter-spacing: 0.05em;
	color: #ffffff;
	margin-bottom: 25px;
}

@media screen and (max-width: 991px) {
	.mediaPartnersSection {
		padding: 50px 20px !important;
	}
}

@media screen and (max-width: 400px) {
	.summitVenueContainer h1 {
		font-size: 52px !important;
		line-height: 50px;
		margin-bottom: 20px;
	}
}

@media screen and (max-width: 400px) {
	.mediaPartnersSection h1 {
		font-size: 52px !important;
		line-height: 50px;
		margin-bottom: 20px;
	}

	.mediaPartnersContainer {
		padding: 30px 0px 30px 0px;
	}

	.mediaPartnersSection img {
		width: 260px;
		height: 100px;
		object-fit: contain;
	}
}

/* media partners section ends here */

/* active sponsors section starts here */

.activeSponsorsSection {
	background: #000000;
	padding: 85px;
}

.activeSponsorsContainer {
	padding: 50px 0px 20px 0px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	gap: 40px;
}

.activeSponsorsSection img {
	width: 300px;
	height: 150px;
	object-fit: contain;
	display: flex;
}

.activeSponsorsSection h1 {
	font-style: normal;
	font-weight: 700;
	font-size: 60px;
	text-align: center;
	letter-spacing: 0.05em;
	color: #ffffff;
	margin-bottom: 25px;
}

@media screen and (max-width: 991px) {
	.activeSponsorsSection {
		padding: 50px 20px !important;
	}
}

@media screen and (max-width: 400px) {
	.summitVenueContainer h1 {
		font-size: 52px !important;
		line-height: 50px;
		margin-bottom: 20px;
	}
}

@media screen and (max-width: 400px) {
	.activeSponsorsSection h1 {
		font-size: 52px !important;
		line-height: 50px;
		margin-bottom: 20px;
	}

	.activeSponsorsContainer {
		padding: 30px 0px 30px 0px;
	}

	.activeSponsorsSection img {
		width: 260px;
		height: 100px;
		object-fit: contain;
	}
}

/* active sponsors section ends here */

/* our speakers section starts here */
.ourSpeakersSection {
	background: #0085fe;
}

.ourSpeakersContainer {
	max-width: 1380px !important;
	width: 100%;
	padding: 80px 0px 80px;
}
.ourSpeakersContainer .ourSpeakersHead {
	text-align: center;
	max-width: 916px;
	margin: 0 auto;
	margin-bottom: 50px;
}
.ourSpeakersContainer h1 {
	font-style: normal;
	font-weight: 700;
	font-size: 60px;
	letter-spacing: 0.05em;
	color: #ffffff;
	margin-bottom: 13px;
}
.ourSpeakersContainer .ourSpeakersHead p {
	font-style: normal;
	font-weight: 500;
	font-size: 25px;
	line-height: 36px;
	letter-spacing: 0.05em;
	color: #ffffff;
}
.speakerCards {
	max-width: 100%;
	margin: 0 auto;
}
.speakerCard {
	margin-bottom: 40px !important;
	width: 100% !important;
}
.speakerCard .speakerCardImg img {
	width: 100%;
	height: 100%;
	display: block;
	margin: 0 auto;
	object-fit: cover;
	border: 0.2px solid white;
	border: unset !important;
}

.speakerCard .speakerCardContent {
	padding: 20px 0px 0;
}

.speakerCardContent h3 {
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	text-align: center;
	letter-spacing: 0.03em;
	color: #ffffff;
	margin: 0px 0px 6px;
}

.speakerCardContent p {
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	text-align: center;
	color: #ffffff;
	margin: 0px;
	line-height: 32px;
}

.speakerCard .speakerCardSocial {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: nowrap;
	padding-top: 10px;
}

.speakerCard .speakerCardSocial a {
	margin-right: 10px;
}

@media screen and (max-width: 639px) {
	.speakerCard {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 0;
	}
	.speakerCard .speakerCardSocial {
		display: none;
	}
	.speakerCard .speakerCardContent {
		padding: 10px 0px 0;
	}
	.speakerCardContent p {
		line-height: 18px;
		font-size: 14px!important;
	}
	.speakerCardContent h3 {
		margin-bottom: 0!important;
		font-size: 18px!important;
	}
	.swiper-wrapper {
		height: 520px;
	}
	.swiper-slide {
		height: calc((100% - 30px) / 2) !important;
	}
	.ourSpeakersContainer {
		padding: 60px 0px 60px !important;
	}
	.ourSpeakersSection .speakerCard .speakerCardImg img {
		max-width: 160px;
	}
}

@media screen and (max-width: 400px) {
	.ourSpeakersSection .speakerCard .speakerCardImg img {
		max-width: 250px;
	}
	.swiper-wrapper {
		height: 520px;
	}
	.swiper-slide {
		height: calc((100% - 30px) / 2) !important;
	}
	.ourSpeakersContainer {
		padding: 60px 0px 60px !important;
	}
	.ourSpeakersSection .speakerCard .speakerCardImg img {
		max-width: 250px;
	}
}
/* our speakers section ends here */

/* agenda section starts here */

.agendaSection {
	padding: 88px 0px;
}

.agendaContainer {
	max-width: 830px !important;
	width: 100%;
	margin: 0 auto;
}

.agendaContainer .heading {
	text-align: center;
	margin-bottom: 40px;
}

.agendaContainer h1 {
	margin: 0px 0px 32px;
}

.agendaContainer .heading p {
	max-width: 532px;
	width: 100%;
	margin: 0 auto;
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	color: #111111;
}

.agendaContainer .nav-tabs {
	border: none !important;
	justify-content: center;
}

.agendaContainer .nav-tabs .nav-item .nav-link {
	border: none !important;
	width: 168px;
	height: 80px;
	background: #ffffff;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.18);
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: "Noto Sans", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	color: #111111;
	margin: 0px 8px;
}

.agendaContainer .nav-tabs .nav-item .nav-link span {
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	color: #111111;
}

.agendaContainer .nav-tabs .nav-item .nav-link.active {
	border: none !important;
	background: linear-gradient(270deg, #109810 0%, #3883f6 100%);
	box-shadow: unset !important;
	border-radius: 5px;
	color: #ffffff;
}

.agendaContainer .nav-tabs .nav-item .nav-link.active span {
	color: #ffffff;
}

.agendaContainer .tab-content {
	margin-top: 32px;
}

.agendaCards .card {
	background: #ffffff;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.18);
	border: none;
	border-left: 8px solid #109810;
	border-radius: 5px;
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;
	padding: 15px 0px;
	margin-bottom: 24px;
}

.agendaCards .card.breakCard {
	border-left: none !important;
	padding: 24px 0px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.agendaCards .card.breakCard h4 {
	font-family: "Noto Sans", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 48px;
	letter-spacing: 0.03em;
	color: #111111;
	margin: 0;
}

.agendaCards .card .agendaTimings {
	padding: 0px 40px 0px 24px;
	border-right: 1px solid #767676;
}

.agendaCards .card .agendaTimings h4 {
	font-family: "Noto Sans", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 28px;
	line-height: 48px;
	color: #111111;
	margin: 0;
	white-space: nowrap;
}

.agendaCards .card .agendaDetails {
	padding: 0px 40px;
	display: flex;
	align-items: center;
}

.agendaCards .card .agendaDetails img {
	width: 82px;
	height: 82px;
	margin-right: 13px;
}

.agendaCards .card .agendaDetails h6 {
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	color: #111111;
	margin: 0px 0px 8px;
}

.agendaCards .card .agendaDetails p {
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	color: #111111;
	margin: 0;
}

@media screen and (max-width: 576px) {
	.agendaCards {
		width: fit-content;
	}

	.agendaCards .card .agendaDetails {
		padding: 0px;
		flex-direction: column;
		align-items: start;
		gap: 6px;
	}

	.agendaCards .card .agendaTimings {
		border-right: 0px;
		padding: 0px 15px 0px 15px;
	}

	.agendaCards .card .agendaTimings h4 {
		font-size: 18px;
	}
}

/* agenda section ends here */

/* register speaker section starts here */
.registerSpeakerSection {
	background: url(@/assets/images/register-speaker-bg.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.registerSpeakerContainer {
	padding: 79px 0 79px;
	max-width: 700px;
	margin: 0 auto;
}

.registerSpeakerContainer h1 {
	font-style: normal;
	font-weight: 700;
	font-size: 60px;
	text-align: center;
	letter-spacing: 0.05em;
	color: #ffffff;
	margin-bottom: 25px;
}

.registerSpeakerContainer p {
	max-width: 900px;
	margin: 0 auto;
	font-style: normal;
	font-weight: 400;
	font-size: 25px;
	line-height: 32px;
	text-align: center;
	color: #e6e6e6;
}

.registerSpeakerContainer button {
	display: block;
	margin: 0 auto;
	max-width: 462px;
	width: 100%;
	height: 115px;
	background: #00d55a;
	border: none;
	font-style: normal;
	font-weight: 600;
	font-size: 30px;
	line-height: 30px;
	text-align: center;
	color: #ffffff;
	transition: 0.3s;
}

.registerSpeakerContainer button:hover {
	border: 1px solid #00d55a;
	background: transparent;
	color: #00d55a;
}

/* register speaker section ends here */

/* get tickets section starts here */
.getTicketSection {
	background: #00d55a;
}

.getTicketContainer {
	max-width: 1330px !important;
	padding: 160px 0px 200px;
}
.getTicketcards {
	max-width: 1036px !important;
	margin: 0 auto !important;
}
.getTicketContainer h1 {
	margin-bottom: 64px;
	font-style: normal;
	font-weight: 700;
	font-size: 60px;
	text-align: center;
	letter-spacing: 0.05em;
	color: #0d0d0d;
}

.getTicketContainer img {
	width: 100%;
	height: 100%;
}

.ticketCard.generalPass {
	background: #000000;
}

.ticketCard.vipPass {
	background: #ff7a10;
}

.getTicketContainer .ticketCard {
	padding: 34px 40px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.ticketCard span {
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	color: #ffffff;
}

.ticketCard h2 {
	font-style: normal;
	font-weight: 700;
	font-size: 96px;
	color: #ffffff;
	margin-bottom: 30px;
}

.ticketCard p {
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 32px;
	color: #ffffff;
	margin-bottom: 24px;
}

.ticketCard button {
	width: 100%;
	height: 56px;
	border: 1px solid #ffffff;
	background: transparent;
	font-style: normal;
	font-weight: 800;
	font-size: 24px;
	letter-spacing: 0.05em;
	color: #ffffff;
}
.ticketCard.vipPass button {
	border: 1px solid #000000;
	color: #000000;
}

.buyWithCyrpto {
	width: auto;
	margin-top: 50px;
	height: 56px;
	border: 1px solid #ffffff;
	background: transparent;
	font-style: normal;
	font-weight: 800;
	font-size: 24px;
	letter-spacing: 0.05em;
	color: #ffffff;
}

.buyWithCyrpto button {
	padding: 0px 40px 0px 40px;
	width: 100%;
	height: 56px;
	border: 1px solid #ffffff;
	background: transparent;
	font-style: normal;
	font-weight: 800;
	font-size: 24px;
	letter-spacing: 0.05em;
	color: #ffffff;
}

/* get tickets section starts ends */

/* our sponsors section starts here */
.ourSponsorsSections {
	background-image: url(@/assets/images/sponsors-bg.png) !important;
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
	background-color: #000000;
}

.ourSponsorsContainer {
	padding: 126px 0px 134px;
}

.ourSponsorsContainer h1 {
	font-style: normal;
	font-weight: 700;
	font-size: 60px;
	letter-spacing: 0.05em;
	text-align: center;
	color: #ffffff;
}

.ourSponsorsContainer .ourSponsors {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 70px 0px;
}

.ourSponsors a {
	display: block;
	width: 25%;
	margin-right: 88px;
}

.ourSponsors a:nth-child(3n) {
	margin-right: 0px !important;
}

.ourSponsors a img {
	width: 100%;
}

.ourSponsorsContainer p {
	max-width: 815px;
	width: 100%;
	margin: 0 auto;
	font-style: normal;
	font-weight: 400;
	font-size: 25px;
	line-height: 32px;
	text-align: center;
	color: #ffffff;
}

.ourSponsorsContainer button {
	display: block;
	margin: 0 auto;
	max-width: 462px;
	width: 100%;
	height: 72px;
	background: #00d55a;
	border: none;
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	letter-spacing: 0.05em;
	color: #ffffff;
	margin-top: 70px;
	transition: 0.3s;
}

.ourSponsorsContainer button:hover {
	border: 1px solid #00d55a;
	background: transparent;
	color: #00d55a;
}
/* our sponsors section ends here */

/* summit venue section starts here */
.summitVenueSection {
	background: #00d55a;
}

.summitVenueContainer {
	padding: 85px 0px;
}

.summitVenueContainer h1 {
	font-style: normal;
	font-weight: 700;
	font-size: 60px;
	letter-spacing: 0.05em;
	color: #ffffff;
	margin-bottom: 10px;
}

.summitVenueContainer p {
	max-width: 568px;
	width: 100%;
	font-style: normal;
	font-weight: 400;
	font-size: 25px;
	line-height: 32px;
	color: #ffffff;
	margin: 0 auto 30px;
}

.summitVenueContainer p a {
	color: #000000;
	text-decoration: none;
	font-weight: 500;
}

.summitVenueContainer img {
	width: 100%;
	height: 480px;
	object-fit: cover;
}
/* summit venue section ends here */

/* where to stay section starts here */
.whereToStaySection {
	background-image: url(@/assets/images/stay-bg.png) !important;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-color: #000000 !important;
}

.whereToStayContainer {
	max-width: 1350px !important;
	width: 100%;
	padding: 142px 0px 103px;
}

.whereToStayContainer .coinImg img {
	width: 82px;
	height: 82px;
	margin-left: 174px;
}

.whereToStayContainer img {
	width: 100%;
	height: 418px;
	object-fit: cover;
}

.whereToStayContainer h1 {
	font-style: normal;
	font-weight: 700;
	font-size: 60px;
	letter-spacing: 0.05em;
	color: #ffffff;
	margin-bottom: 50px;
}

.whereToStayContainer p {
	max-width: 567px;
	width: 100%;
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 32px;
	color: #ffffff;
	margin: 0 auto 30px;
}
.whereToStayContainer p span {
	font-weight: 700;
}
.whereToStayContainer a {
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 32px;
	color: #ffffff;
	word-wrap: break-word;
	text-decoration: none;
}

.whereToStayContainer .bookNowBtn {
	display: block;
	max-width: 376px;
	width: 100%;
	height: 72px;
	margin: 36px auto 0px;
	background: #00d55a;
	border: 1px solid transparent;
	font-style: normal;
	font-weight: 600;
	font-size: 30px;
	text-align: center;
	letter-spacing: 0.05em;
	line-height: 30px;
	color: #ffffff;
	cursor: pointer;
	transition: 0.3s;
}

.whereToStayContainer button:hover {
	border: 1px solid #00d55a;
	background: transparent;
	color: #00d55a;
}

/* where to stay section ends here */

/* footer starts here */
.proofFooter {
	background: #000000;
}

.footerContainer {
	padding: 44px 0 53px;
}

.footerContainer .footerLinks {
	list-style: none;
	padding: 0px;
	margin: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footerLinks a {
	display: inline-block;
	margin: 0px 24px;
	text-decoration: none;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	color: #ffffff;
}

.footerContainer h1 {
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 30px;
	text-align: center;
	letter-spacing: 0.05em;
	color: #ffffff;
	margin: 62px 0px;
}
.footerContainer .footerLogo {
	max-width: 688px;
	padding: 0px 20px;
	margin: 0 auto;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}
.footerContainer .footerLogo {
	text-decoration: none;
}
.footerContainer .footerLogo img {
	height: auto;
	width: 100%;
}

.footerContainer .footerLogo a:nth-child(1) img {
	max-width: 220px;
}
.footerContainer .footerLogo a:nth-child(2) img {
	max-width: 270px;
}

.footerContainer .socialMediaIcons {
	list-style: none;
	padding: 62px 0px 62px 0px;
	margin: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footerContainer .socialMediaIcons a {
	display: flex;
	align-items: center;
	margin: 0px 24px;
	text-decoration: none;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	color: #ffffff;
}

.footerContainer .socialMediaIcons img {
	width: 30px;
	height: 30px;
	margin-right: 12px;
}

/* footer ends here */

@media screen and (max-width: 1260px) {
	.whereToStayContainer h1 {
		font-size: 52px !important;
	}
}
@media screen and (max-width: 1200px) {
	.proofOfWorkContainer {
		background-position: left;
	}
	.heroCard .heroCardContent h3 {
		font-size: 26px;
		line-height: 32px;
	}

	.heroCard .heroCardContent p {
		font-size: 22px;
		line-height: 28px;
	}

	.registerSpeakerSection {
		background-position: left;
	}

	.ourSponsorsSections {
		background-position: left;
	}
	.summitVenueContainer h1 {
		font-size: 52px !important;
	}
	.whereToStayContainer h1 {
		font-size: 46px !important;
	}
}

@media screen and (max-width: 991px) {
	.proofHeroCards .proofHeroHead {
		max-width: 100% !important;
	}
	.proofHeroCards .proofHeroHead p {
		font-size: 22px !important;
	}
	.proofNav .navbar-collapse {
		padding: 20px 0px;
	}

	.proofNav .nav-link {
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		color: #ffffff;
		padding: 0px 0px 4px !important;
		margin-right: 0px;
		margin-bottom: 20px;
	}

	.heroCard .heroCardContent h3 {
		font-size: 22px;
		line-height: 32px;
	}

	.heroCard .heroCardContent p {
		font-size: 18px;
		line-height: 28px;
	}

	.ourSpeakersContainer h1 {
		font-size: 48px;
	}

	.ourSpeakersContainer .speakerCard {
		margin-bottom: 20px;
	}

	.speakerCardContent h3 {
		font-size: 26px;
		margin-bottom: 10px;
	}

	.speakerCardContent p {
		font-size: 18px;
	}

	.registerSpeakerContainer h1 {
		font-size: 48px;
		margin-bottom: 20px;
	}
	.registerSpeakerContainer p {
		font-size: 18px !important;
	}

	.getTicketContainer {
		padding: 100px 0px 120px;
	}

	.getTicketContainer h1 {
		font-size: 42px;
		margin-bottom: 40px;
	}

	.ourSponsorsContainer h1 {
		font-size: 48px;
	}

	.ourSponsorsContainer p {
		font-size: 20px;
	}

	.summitVenueContainer h1 {
		font-size: 48px;
	}
	.summitVenueContainer p {
		max-width: 100%;
		font-size: 20px;
		line-height: 28px;
	}

	.whereToStayContainer {
		padding: 90px 20px !important;
	}

	.whereToStayContainer h1 {
		font-size: 48px;
	}

	.whereToStayContainer p {
		max-width: 100%;
		font-size: 20px;
		line-height: 28px;
	}

	.whereToStayContainer .bookNowBtn {
		font-size: 20px !important;
		margin-top: 40px !important;
	}

	.ourSpeakersContainer .ourSpeakersHead {
		max-width: 100% !important;
	}
	.speakerCards {
		max-width: 100% !important;
	}
	.speakerCard .speakerCardImg img {
		width: 100%;
		height: 100% !important;
		border: unset !important;
	}
	.getTicketcards {
		max-width: 100% !important;
	}
	.ticketCard p {
		font-size: 18px !important;
		line-height: 26px !important;
	}
}

@media screen and (max-width: 767px) {
	.heroCard {
		margin-bottom: 30px;
	}
	.proofHeroCards .proofHeroHead p {
		font-size: 18px !important;
		line-height: 26px !important;
	}
	.proofHeroCards .proofHeroHead h2 {
		font-size: 28px !important;
	}
	.speakerCard .speakerCardImg img {
		height: 100% !important;
		border: unset !important;
	}

	.ourSpeakersContainer {
		padding: 60px 0px 80px;
	}

	.getTicketContainer {
		padding: 60px 0px 80px;
	}

	.registerSpeakerContainer {
		padding: 60px 0px 80px;
	}

	.ourSponsorsContainer {
		padding: 60px 0px 80px;
	}

	.ourSponsorsContainer .ourSponsors {
		margin: 40px 0px 20px;
		flex-direction: column;
		align-items: center;
	}

	.ourSponsors a {
		width: 50%;
		margin-right: 0 !important;
		margin-bottom: 50px;
	}

	.summitVenueContainer img {
		height: 350px;
	}

	.whereToStayContainer {
		padding: 60px 0px;
	}

	.whereToStayContainer img {
		height: 300px;
	}

	.proofHeroCards .getTicketsBtn {
		margin-top: 50px !important;
	}
	.ourSpeakersContainer .ourSpeakersHead p {
		font-size: 18px !important;
		line-height: 26px !important;
	}
	.registerSpeakerContainer {
		max-width: 100% !important;
	}
	.ourSponsorsContainer button {
		margin-top: 50px !important;
	}
	.whereToStayContainer {
		padding: 60px 20px !important;
	}

	.whereToStayContainer .bookNowBtn {
		font-size: 20px !important;
		margin-top: 40px !important;
	}

	.footerContainer .socialMediaIcons {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-items: flex-start;
		align-content: center;
	}

	.footerContainer .socialMediaIcons a {
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 576px) {
	.proofHeroCards .proofHeroHead h2 {
		font-size: 22px !important;
	}
	.proofHeroCards .getTicketsBtn {
		font-size: 20px !important;
		line-height: 22px !important;
		height: 70px !important;
		margin-top: 30px !important;
	}

	.heroCard .heroCardImg img {
		height: unset;
		object-fit: cover;
	}

	.ourSpeakersContainer h1 {
		font-size: 36px;
	}

	.registerSpeakerContainer h1 {
		font-size: 36px;
		margin-bottom: 15px;
	}

	.registerSpeakerContainer button {
		font-size: 20px;
		line-height: 22px !important;
		height: 70px !important;
	}

	.getTicketContainer h1 {
		font-size: 32px;
		margin-bottom: 30px;
	}

	.ourSponsorsContainer h1 {
		font-size: 36px;
	}

	.ourSponsors a {
		margin-bottom: 30px;
	}

	.ourSponsorsContainer button {
		font-size: 20px;
		padding: 10px;
	}

	.summitVenueContainer h1 {
		font-size: 36px;
		line-height: 50px;
		margin-bottom: 20px;
	}

	.summitVenueContainer p {
		font-size: 18px;
		line-height: 26px;
	}

	.whereToStayContainer .coinImg img {
		display: block;
		width: 62px;
		height: 62px;
		margin: 0 auto !important;
	}

	.whereToStayContainer h1 {
		font-size: 30px !important;
		margin-bottom: 20px !important;
	}

	.whereToStayContainer p {
		font-size: 18px;
		line-height: 26px;
	}

	.whereToStayContainer a {
		font-size: 18px;
	}

	.whereToStayContainer .bookNowBtn {
		font-size: 20px !important;
		margin-top: 40px !important;
	}

	.footerContainer {
		padding: 50px 20px 80px;
	}

	.footerContainer .footerLinks {
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}

	.footerLinks li a {
		margin-bottom: 20px;
	}

	.footerContainer h1 {
		font-size: 30px;
		line-height: 40px;
	}

	.footerContainer .socialMediaIcons {
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}

	.socialMediaIcons a {
		margin-bottom: 20px !important;
	}

	.speakerCard .speakerCardImg img {
		height: 100% !important;
		border: unset !important;
	}

	.ticketCard span {
		font-size: 32px !important;
	}

	.ticketCard h2 {
		font-size: 70px;
		margin-bottom: 20px !important;
	}
	.ourSponsorsContainer button {
		margin-top: 40px !important;
	}

	.footerContainer .footerLogo {
		flex-direction: column;
		align-items: center;
	}

	.footerContainer .footerLogo a:nth-child(1) img {
		max-width: 200px;
		margin-bottom: 20px;
	}
	.footerContainer .footerLogo a:nth-child(2) img {
		max-width: 200px;
	}
}

@media screen and (max-width: 480px) {
	.ourSponsors a {
		width: 80%;
		margin-bottom: 30px;
	}
	.getTicketContainer h1 {
		font-size: 28px !important;
	}
}

@media screen and (max-width: 400px) {
	.whereToStayContainer h1 {
		font-size: 24px !important;
	}
}
