@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");

.mainHeroWrapper {
	background: url(@/assets/images/hero-bg.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
}

.navbar {
	padding: 40px !important;
}

.navbar .navContainer {
	max-width: 1100px !important;
	padding: 0 !important;
}

.navbar .navbar-brand {
	font-family: "Noto Sans", sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 22px;
	line-height: 28px;
	color: #ffffff;
}

.navbar .navbar-toggler {
	background: #ffffff;
}

.navbar-nav .nav-link {
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 28px;
	color: #cccccc;
	padding: 0px 10px !important;
	margin: 0px 10px;
}

.navbar-nav .nav-link.active {
	color: #cccccc !important;
}

.navbar-nav .nav-link:hover {
	color: #ffffff !important;
}

.navbar .buyTicketsBtn {
	border: 1px solid #ffffff;
	border-radius: 5px;
	background: transparent;
	padding: 8px 24px;
	font-family: "Noto Sans", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	color: #ffffff;
}

/* styles for similar components */
.mainContainer {
	max-width: 1180px !important;
	width: 100%;
	margin: 0 auto;
	padding: 0px 40px !important;
}

.heading h1 {
	font-family: "Noto Sans", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	color: #111111;
	margin: 0;
}

/* hero container starts here */

.heroContainer {
	padding: 125px 40px 162px !important;
}

.heroContainer p {
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	color: #ffffff;
	margin: 0;
}

.heroContainer .heroHeading {
	border-left: 1px solid #ffffff;
	padding-left: 24px;
	margin: 25px 0px 32px;
}

.heroContainer .heroHeading h1 {
	font-family: "Noto Sans", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 60px;
	line-height: 50px;
	letter-spacing: 0.03em;
	text-transform: capitalize;
	color: #ffffff;
	margin: 0px 0px 12px;
}

.heroContainer .heroHeading p {
	line-height: 30px;
}

.heroContainer .cryptoIcons {
	background: rgba(0, 0, 0, 0.25);
	border: 1px solid #215e14;
	border-radius: 5px;
	width: 163px;
	height: 64px;
	padding: 0px 26px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 48px;
}

.heroContainer .cryptoIcons span {
	font-family: "Noto Sans", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 42px;
	color: #ffffff;
}

.heroContainer .buyTktBtn {
	width: 190px;
	height: 56px;
	background: #109810;
	border: none;
	border-radius: 5px;
	font-family: "Noto Sans", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
}

.heroContainer .buyTktBtn img {
	margin-left: 15px;
	width: 10px;
	height: 17px;
}

.heroContainer .heroImg {
	width: 100%;
}

/* hero section ends here */

/* about section starts here */
.aboutSection {
	padding: 88px 0px;
}

.aboutContainer h1 {
	margin: 0 0 32px;
}

.aboutContainer p {
	max-width: 532px;
	width: 100%;
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	color: #111111;
	margin: 0px 0px 26px;
}
/* about section ends here */

/* speakers section starts here */
.speakersSection {
	background: #eaeaea;
	padding: 88px 0px 60px;
}

.speakersContainer h1 {
	text-align: end;
}

.speakersContainer .speakerCards {
	margin-top: 64px;
}

.speakerCards .card {
	border: none;
	background: transparent;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.speakerCards .imgBox {
	width: 208px;
	height: 208px;
	margin: 0 auto;
}

.speakerCards .imgBox img {
	width: 100%;
	border-radius: 50%;
}

.speakerCards .speakersDetails {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	top: -40px;
}

.speakerCards .socialLinks {
	background: #111111;
	width: 164px;
	height: 48px;
	border-radius: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0px 26px;
}

.speakerCards .socialLinks a {
	text-decoration: none;
	margin: 0px 6.5px;
}

.speakerCards .socialLinks a img {
	width: 26px;
	height: 26px;
}

.speakerCards .speakerInfo {
	text-align: center;
}

.speakerCards .speakerInfo h5 {
	font-family: "Noto Sans", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	color: #000000;
	margin: 14px 0px 8px;
}

.speakerCards .speakerInfo .speakersTitle {
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	color: #000000;
	margin: 0px 0px 4px;
}

.speakerCards .speakerInfo .speakersCompany {
	font-family: "Noto Sans", sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	color: #000000;
	margin: 0;
}

/* speakers section ends here */

/* become a speaker section starts here */
.becomeSpeakerSection {
	background: #111111;
	padding: 88px 0px;
}

.becomeSpeakerContainer .heading h1 {
	color: #ffffff !important;
	text-align: center;
	margin-bottom: 24px;
}

.becomeSpeakerContainer .becomeSpeakerContent {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.becomeSpeakerContainer .becomeSpeakerContent p {
	max-width: 532px;
	width: 100%;
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	text-align: center;
	color: #cccccc;
	margin: 0 auto 32px;
}

.becomeSpeakerContainer .becomeSpeakerContent button {
	width: 223px;
	height: 56px;
	margin: 0 auto;
	background: #109810;
	border: none;
	border-radius: 5px;
	font-family: "Noto Sans", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	color: #ffffff;
}

/* become a speaker section ends here */

/* agenda section starts here */

.agendaSection {
	padding: 88px 0px;
}

.agendaContainer {
	max-width: 830px !important;
	width: 100%;
	margin: 0 auto;
}

.agendaContainer .heading {
	text-align: center;
	margin-bottom: 40px;
}

.agendaContainer h1 {
	margin: 0px 0px 32px;
}

.agendaContainer .heading p {
	max-width: 532px;
	width: 100%;
	margin: 0 auto;
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	color: #111111;
}

.agendaContainer .nav-tabs {
	border: none !important;
	justify-content: center;
}

.agendaContainer .nav-tabs .nav-item .nav-link {
	border: none !important;
	width: 168px;
	height: 80px;
	background: #ffffff;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.18);
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: "Noto Sans", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	color: #111111;
	margin: 0px 8px;
}

.agendaContainer .nav-tabs .nav-item .nav-link span {
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	color: #111111;
}

.agendaContainer .nav-tabs .nav-item .nav-link.active {
	border: none !important;
	background: #109810;
	box-shadow: unset !important;
	border-radius: 5px;
	color: #ffffff;
}

.agendaContainer .nav-tabs .nav-item .nav-link.active span {
	color: #ffffff;
}

.agendaContainer .tab-content {
	margin-top: 32px;
}

.agendaCards .card {
	background: #ffffff;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.18);
	border: none;
	border-left: 8px solid #109810;
	border-radius: 5px;
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;
	padding: 15px 0px;
	margin-bottom: 24px;
}

.agendaCards .card.breakCard {
	border-left: none !important;
	padding: 24px 0px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.agendaCards .card.breakCard h4 {
	font-family: "Noto Sans", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 48px;
	letter-spacing: 0.03em;
	color: #111111;
	margin: 0;
}

.agendaCards .card .agendaTimings {
	padding: 0px 40px 0px 24px;
	border-right: 1px solid #767676;
}

.agendaCards .card .agendaTimings h4 {
	font-family: "Noto Sans", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 28px;
	line-height: 48px;
	color: #111111;
	margin: 0;
}

.agendaCards .card .agendaDetails {
	padding: 0px 40px;
	display: flex;
	align-items: center;
}

.agendaCards .card .agendaDetails img {
	width: 82px;
	height: 82px;
	margin-right: 13px;
}

.agendaCards .card .agendaDetails h6 {
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	color: #111111;
	margin: 0px 0px 8px;
}

.agendaCards .card .agendaDetails p {
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	color: #111111;
	margin: 0;
}

/* agenda section ends here */

/* tickets section starts here */
.eventTicketsSection {
	background: #eaeaea;
	padding: 88px 0px;
}

.eventTicketsContainer {
	max-width: 830px !important;
	width: 100%;
	margin: 0 auto;
}

.eventTicketsContainer .heading {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	text-align: center;
}

.eventTicketsContainer .heading h1 {
	margin: 0px 0px 32px;
}

.eventTicketsContainer .heading p {
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	color: #111111;
	margin: 0;
}

.eventTicketsContainer .ticketCards {
	margin-top: 40px;
}

.eventTicketsContainer .card {
	max-width: 354px;
	width: 100%;
	margin: 0 auto;
	background: #ffffff;
	border-radius: 5px;
	border: none;
	padding: 48px 32px;
}

.eventTicketsContainer .card.vipTicket {
	background: #111111;
}

.eventTicketsContainer .card.generalTicket .ticketData {
	margin-bottom: 142px;
}

.eventTicketsContainer .card.vipTicket .ticketData {
	margin-bottom: 36px;
}

.eventTicketsContainer .card .ticketPrice {
	text-align: center;
}

.eventTicketsContainer .card .ticketPrice p {
	font-family: "Noto Sans", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	color: #111111;
	margin: 0px 0px 24px;
}

.eventTicketsContainer .card .ticketPrice h1 {
	font-family: "Noto Sans", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	letter-spacing: 0.03em;
	color: #111111;
	margin: 0px 0px 40px;
}

.ticketDetails ul {
	list-style: none;
	padding: 0;
	max-width: 200px;
	width: 100%;
}

.ticketDetails ul li {
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 27px;
	color: #111111;
	margin-bottom: 24px;
	display: flex;
}

.ticketDetails ul li img {
	width: 24px;
	height: 24px;
	margin: 5px 14px 0px 0px;
}

.eventTicketsContainer .card button {
	width: 100%;
	border: none;
	border-radius: 5px;
	padding: 12px;
	font-family: "Noto Sans", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	color: #ffffff;
}

.eventTicketsContainer .card.generalTicket button {
	background: #111111;
}

.eventTicketsContainer .card.vipTicket .ticketPrice p {
	color: #ffffff;
}

.eventTicketsContainer .card.vipTicket .ticketPrice h1 {
	color: #ffffff;
}

.eventTicketsContainer .card.vipTicket .ticketDetails ul li {
	color: #ffffff;
}

.eventTicketsContainer .card.vipTicket button {
	background: #109810;
}

/* tickets section ends here */

/* sponsors section starts here */
.sponsorsSection {
	padding: 88px 0px;
}

.sponsorsContainer .heading {
	display: flex;
	justify-content: flex-end;
}

.sponsorsContainer .heading h1 {
	margin-bottom: 48px;
}

.sponsorsContainer .sponsorsLogos {
	display: flex;
	justify-content: space-between;
	max-width: 569px;
	width: 100%;
	margin-left: auto;
}

.sponsorsContainer .sponsorsLogo {
	max-width: 90px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0px 20px;
}

.sponsorsContainer .sponsorsLogo img {
	width: 90px;
	height: auto;
}

.sponsorsContainer hr {
	max-width: 540px;
	width: 90%;
	margin: 64px auto;
}

.sponsorsContainer .sponsorships h2 {
	font-family: "Noto Sans", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	color: #111111;
	margin: 0px 0px 32px;
}

.sponsorsContainer .sponsorships p {
	max-width: 532px;
	width: 100%;
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	color: #111111;
	margin: 0px 0px 40px;
}

.sponsorsContainer .sponsorships button {
	border: none;
	border-radius: 5px;
	padding: 16px 24px;
	font-family: "Noto Sans", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	color: #ffffff;
}

.sponsorships button.volBtn {
	background: #111111;
	margin-right: 24px;
}

.sponsorships button.sponBtn {
	background: #109810;
}
/* sponsors section ends here */

/* location section starts here */
.locationSection {
	padding: 80px 0px;
	background: #111111;
}

.locationContainer .heading {
	margin-bottom: 52px;
}

.locationContainer .heading h1 {
	color: #ffffff;
	margin: 0px 0px 36px;
}

.locationContainer .heading p {
	max-width: 532px;
	width: 100%;
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	color: #cccccc;
	margin: 0px;
}

.locationContainer .heading p:nth-child(2) {
	margin-bottom: 30px;
}

.locationContainer img {
	width: 100%;
}

.locationContainer .location {
	max-width: 339px;
	width: 100%;
}

.locationContainer .map {
	max-width: 507px;
	max-width: 100%;
	height: auto;
	margin: 0 auto;
}

/* location section ends here */

/* footer starts here */
footer {
	background: #111111;
	padding: 78px 0px 64px;
}

.footerContainer .footerHeading {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footerContainer .footerHeading h2 {
	font-family: "Noto Sans", sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 22px;
	line-height: 28px;
	color: #ffffff;
	margin: 0 0 32px;
}

.footerContainer .cryptoIcons {
	width: 163px;
	height: 64px;
	padding: 0px 26px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 80px;
}

.footerContainer .cryptoIcons span {
	font-family: "Noto Sans", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 42px;
	color: #ffffff;
}

.footerContainer .footerLinks {
	max-width: 635px;
	width: 100%;
	margin: 0 auto;
}

.footerContainer .footerLinks ul {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
	padding: 0px;
	margin: 0px 0px 40px;
}

.footerContainer .footerLinks ul li a {
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	color: #cccccc;
	text-decoration: none;
	padding: 0px 10px !important;
	margin: 0px 10px;
	transition: 0.5s;
}

.footerContainer .footerLinks ul li a:hover {
	color: #ffffff;
}

.footerContainer .copyright {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footerContainer .copyright p {
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	color: rgba(255, 255, 255, 0.64);
	margin: 0px 0px 15px;
}

.footerContainer .copyright a {
	font-family: "Noto Sans", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	text-decoration: none;
	color: #ffffff !important;
}

.footerContainer .litecoin-container {
	background: white;
	border-radius: 100%;
}

/* footer ends here */

/* media queries */

@media screen and (max-width: 1199px) {
	.mainHeroWrapper {
		background-size: cover !important;
	}

	.navbar-nav .nav-link {
		padding: 0px 5px !important;
		margin: 0px 8px !important;
	}
}

@media screen and (max-width: 991px) {
	.navbar-nav .nav-link {
		padding: 8px 0px !important;
		margin: 0px !important;
	}

	.heroContainer {
		padding: 40px 40px 60px !important;
	}

	.aboutSection {
		padding: 40px 0px;
	}

	.becomeSpeakerSection {
		padding: 40px 0px;
	}

	.speakersSection {
		padding: 40px 0px;
	}

	.agendaSection {
		padding: 40px 0px;
	}

	.eventTicketsSection {
		padding: 40px 0px;
	}

	.sponsorsSection {
		padding: 40px 0px;
	}

	.locationSection {
		padding: 40px 0px;
	}

	.locationContainer .heading {
		margin-bottom: 30px;
	}

	.locationContainer .heading h1 {
		margin-bottom: 24px;
	}

	.locationContainer .heading p:nth-child(2) {
		margin-bottom: 24px !important;
	}

	.locationContainer .map {
		max-width: 450px;
	}
}

@media screen and (max-width: 910px) {
	.agendaContainer {
		max-width: 100% !important;
		width: 100%;
		padding: 0px 40px;
	}

	.eventTicketsContainer {
		max-width: 100% !important;
		width: 100%;
		padding: 0px 40px;
	}

	.agendaCards .card .agendaTimings {
		padding: 0px 24px 0px 24px;
	}

	.agendaCards .card .agendaTimings h4 {
		font-size: 24px;
		line-height: 48px;
	}

	.agendaCards .card .agendaDetails {
		padding: 0px 24px;
	}

	.agendaCards .card .agendaDetails img {
		width: 62px;
		height: 62px;
		margin-right: 10px;
	}

	.agendaCards .card .agendaDetails h6 {
		font-size: 16px;
	}

	.agendaCards .card .agendaDetails p {
		font-size: 14px;
	}

	.sponsorsContainer hr {
		margin: 44px auto;
	}

	.sponsorsContainer .sponsorships h2 {
		margin: 0px 0px 24px;
	}

	.sponsorsContainer .sponsorships p {
		margin: 0px 0px 30px;
	}

	.sponsorsContainer .sponsorships button {
		padding: 14px 20px;
		font-size: 18px;
	}
}

@media screen and (max-width: 767px) {
	.navbar {
		padding: 30px !important;
	}

	.mainContainer {
		padding: 0px 30px !important;
	}

	.heroContainer {
		padding: 30px 30px 40px !important;
	}

	.heroContainer .heroHeading h1 {
		font-size: 40px;
	}

	.heading h1 {
		font-size: 30px;
	}

	.agendaContainer {
		padding: 0px 30px;
	}

	.eventTicketsContainer {
		padding: 0px 30px;
	}

	.agendaCards .card .agendaTimings {
		padding: 0px 20px;
	}

	.agendaCards .card .agendaTimings h4 {
		font-size: 20px;
		line-height: 25px;
	}

	.agendaCards .card .agendaDetails {
		padding: 0px 20px;
	}

	.agendaCards .card .agendaDetails img {
		width: 52px;
		height: 52px;
		margin-right: 10px;
	}

	.agendaCards .card .agendaDetails h6 {
		font-size: 15px !important;
	}

	.agendaCards .card .agendaDetails p {
		font-size: 13px !important;
	}

	.sponsorsContainer .sponsorsLogo img {
		width: 60px;
		height: auto;
	}

	.sponsorsContainer hr {
		margin: 34px auto;
	}

	.sponsorsContainer .sponsorships h2 {
		font-size: 30px;
		margin: 0px 0px 20px;
	}

	.sponsorsContainer .sponsorships p {
		margin: 0px 0px 24px;
	}

	/* ..... */
	footer {
		padding: 40px 0px;
	}

	.footerContainer .footerHeading h2 {
		font-size: 20px;
		margin: 0 0 24px;
	}

	.footerContainer .cryptoIcons {
		margin-bottom: 40px;
	}

	.footerContainer .cryptoIcons span {
		font-size: 20px;
	}

	.footerContainer .footerLinks ul {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 0px;
		margin: 0px 0px 30px;
	}

	.footerContainer .footerLinks ul li {
		margin: 10px 0px;
	}

	.footerContainer .footerLinks ul li a {
		padding: 10px 0px !important;
		margin: 0px !important;
	}

	.footerContainer .copyright p {
		margin: 0px 0px 12px;
	}
}

@media screen and (max-width: 625px) {
	.agendaCards .card {
		display: block;
		padding: 30px 0px;
	}

	.agendaCards .agendaTimings {
		border-right: none !important;
	}

	.agendaCards .agendaTimings h4 {
		border-bottom: 1px solid #767676 !important;
		padding-bottom: 20px !important;
	}

	.agendaCards .agendaDetails {
		padding-top: 20px !important;
		align-items: flex-start !important;
	}
}

@media screen and (max-width: 575px) {
	.speakersContainer h1 {
		text-align: center;
	}

	.speakersContainer .speakerCards {
		margin-top: 44px;
	}

	.agendaContainer .nav-tabs .nav-item .nav-link {
		width: 120px;
		height: 60px;
		font-size: 15px;
		margin: 0px 8px;
	}

	.agendaContainer .nav-tabs .nav-item .nav-link span {
		font-family: "Roboto", sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 13px;
		color: #111111;
	}

	.sponsorsContainer .heading {
		justify-content: center;
	}

	.sponsorsContainer .sponsorsLogos {
		justify-content: center;
		margin: 0 auto !important;
	}

	.sponsorsContainer .sponsorsLogo img {
		width: 60px;
		height: auto;
	}

	.sponsorsContainer .sponsorships h2 {
		font-size: 28px;
		margin: 0px 0px 20px;
	}

	.sponsorsContainer .sponsorships button {
		margin-bottom: 20px;
		width: 100%;
	}
}

@media screen and (max-width: 480px) {
	.heroContainer .heroHeading h1 {
		font-size: 32px;
	}

	.heroContainer p {
		font-size: 18px;
	}

	.heading h1 {
		font-size: 26px;
	}

	.aboutContainer h1 {
		margin-bottom: 20px;
	}

	.aboutContainer p {
		font-size: 18px;
		margin-bottom: 15px;
	}

	.becomeSpeakerContainer .heading h1 {
		margin-bottom: 20px;
	}

	.becomeSpeakerContainer p {
		font-size: 18px !important;
	}

	.agendaContainer h1 {
		margin-bottom: 20px;
	}

	.agendaContainer p {
		font-size: 18px !important;
	}

	.agendaContainer .nav-tabs .nav-item .nav-link {
		margin: 8px 8px;
	}

	.eventTicketsContainer h1 {
		margin-bottom: 20px !important;
	}

	.eventTicketsContainer .heading p {
		font-size: 18px;
	}

	.sponsorsContainer hr {
		margin: 24px auto;
	}

	.sponsorsContainer .sponsorships h2 {
		font-size: 24px;
	}

	.sponsorsContainer .sponsorships p {
		font-size: 16px;
	}

	.sponsorsContainer .sponsorships button {
		padding: 12px 20px;
		font-size: 16px;
	}

	.locationContainer .heading p {
		font-size: 18px;
	}
}
